.main-layout-container {
  width: 100%;
  margin-left: 0;
  transition: 0.3s ease;
}
.main-layout-container.open {
  width: calc(100% - 250px);
  margin-left: 250px;
}
.side-bar {
  left: -250px;
  transition: 0.3s ease;
}
.side-bar.open {
  left: 0;
}
.sidebar-close-button {
  visibility: hidden;
}
@media only screen and (max-width: 768px) {
  .main-layout-container.open {
    width: 100% !important;
    margin-left: 0 !important;
  }
  .side-bar.open .sidebar-close-button {
    visibility: hidden;
  }
  .sidebar-close-button {
    visibility: visible;
  }
  .side-bar.open {
    left: -250px;
  }
  .side-bar {
    left: 0;
  }
}
