.spacing {
  height: 100%;
  width: 100%;
}
.c-text {
  color: #8a92a6;
}
.c-text-white {
  color: #fff;
}
.c-bg-1 {
  background-color: #151824;
}
.c-bg-2 {
  background-color: #222738;
}
.c-bg-hover:hover {
  background-color: #2f3546;
}
.c-primary {
  background-color: #3a57e8;
}
.c-primary:hover {
  background-color: #c4ccf8;
}
.bottom-line {
  border-bottom: 1px solid #30384f;
}
